/**   Global (Re)Sets   **/
:link,:visited { text-decoration:none }
a:link, a:visited { color:#306030; }
a:hover, a:focus { color:#355E3B; }
body { color:#306030; }
/** End Global (Re)Sets **/

/**   Header   **/
a.name { font-size:3em; font-weight:bold; }
/** End Header **/

/**   Nav   **/
.sitemenu { position:relative; height:1.4em; }
.sitemenu ul { position:absolute; list-style:none; }
.sitemenu li { float:left; border:solid; border-width:1px; padding:5px 8px; margin:8px; }
.sitemenu li ul { display:none; }
.sitemenu li:hover ul { display:block; }
.sitemenu li.current > a { font-weight:800; } 
.sitemenu li.currentpath > a { font-weight:800; }
/** End Nav **/

/**   Main   **/
#main { margin:90px 0 0; }
/** End Main **/